packages:
  yum:
    git: []
    mysql: []

option_settings:
  - option_name: BUNDLE_WITHOUT
    value: "heroku:doc"
  - option_name: BUNDLE_PATH
    value: "vendor/bundle"
  - option_name: RAILS_SKIP_MIGRATIONS
    value: false
  - option_name: RACK_ENV
    value: development
  - option_name: RAILS_ENV
    value: development
