<% if signed_in? %>
  <%= render 'layouts/header' %>
<% else %>
  Please sign in to get better results and to be able to post.
<% end %>

<div class='profile-box'>
  <div class='profile-left'>
    <div class='profile-name'>
    </div>
    <div class='profile-pic'>
    </div>
  </div>
  <div class='profile-right'>
    <div class='friend-followers-following'>
    </div>
    <div class='user-description'>
    </div>
  </div>
</div>