<% if signed_in? %>
  <%= render 'layouts/header' %>
<% else %>
  Please sign in to get better results and to be able to post.
<% end %>

<div class='profile-box'>
  <div class='profile-left'>
  </div>
  <div class='profile-right'>
  </div>
</div>