<!-- This is the homepage

  <%= link_to "Log in", '/auth/facebook' %>
  <%= link_to "Browse", posts_path %>
-->
<div class='mobile'>
  <img class="mobile-title" src="assets/landing_page/NewVoLogo.png" />
</div>
<div class="left">
  <div class="iphone">
    <img class="iphone-image" src="/assets/iphone.png">
  </div>
</div>

<div class="right">
  <div class="info">
    <img class="title" src="/assets/landing_page/NewVoLogo.png" />
  </br>
  <div class="description">
    Fashion is fun for some, a necessity for others.</br>
    Whoever you are, fashion convenience just got taken to a whole new level.
  </div>
  <div class="text-box top">
    <div class="info-square caption"></div>
  </div>
  <div class="middle">
    <p>Coming soon! Sign-up to be notified!</p>
  </br>
  <form>
    <input type="text" text="email address">
    <input type="submit" value="Submit">
  </form>
</div>
<div class="buttons bottom">
  <img class="app-button" src="/assets/landing_page/app-store.png" />
  <img class="app-button" src="/assets/landing_page/color-google-play.png" />
</div>