<!-- This is the homepage

  <%= link_to "Log in", '/auth/facebook' %>
  <%= link_to "Browse", posts_path %>
 -->
 <div class="container">
  <div class="left"> 
    <h1>NewVo</h1>
    <p> Coming soon </p>
  </div>
   <div class="right">
    <div class="iphone-container">
      <img src="/assets/01.png">
    </div>
    <div class="info">
      <div class="info-square">here</div>
      <div class="info-square">goes</div>
      <div class="info-square">the</div>
      <div class="info-square">infor</div>
    </div>

 </div>
</div>