<!-- This is the homepage

  <%= link_to "Log in", '/auth/facebook' %>
  <%= link_to "Browse", posts_path %>
-->

</br></br>


<img id="title" src="/assets/landing_page/NewVoLogo.png" />


<div id="description">
  Fashion is fun for some, a necessity for others.</br>
  Whoever you are, fashion convenience just got taken to a whole new level.
</div>

</br>

<div class="left">
  <div class="iphone">
    <img class="screen" src="/assets/landing_page/John-Post-Mock.png">
  </div>
</div>

<div class="right">
  <div class="info">
    <div class="text-box">
      <div class="info-square caption"></div>
    </div>
    <div class="buttons">
      <p>Coming soon! Sign-up to be notified!</p>
      <img class="app-button" src="/assets/landing_page/Apple.png" />
      <img class="app-button" src="/assets/landing_page/Google.png" />
    </div>
  </div>
</div>
