<!-- This is the homepage

  <%= link_to "Log in", '/auth/facebook' %>
  <%= link_to "Browse", posts_path %>
-->
<!-- <div id="backgroundFadeInOut">
  <img class="bottom" src="/assets/landing_page/floor.jpg" />
  <img class="top" src="/assets/landing_page/floor-close-up.jpg" />
</div> -->

<div class="title">
</br></br>
  <div id="title">
    <img id="title" src="/assets/landing_page/NewVoLogo.png" />
  </div>
  <div id="mockup">
    <img id ="mockup_img" src="/assets/landing_page/John-Post-Mock.png" />
  </div>
  <div id="description">
    Fashion is fun for some, a necessity for others.</br>
    Whoever you are, fashion convenience just got taken to a whole new level.
  </div>
  </br>
  <div class="right">
<!--     <div class="iphone-container">
      <img class='slide' src="">
    </div> -->
    <div class="info">
      <div class="info-square caption"></div>
    </div>
  </div>
  </br>

  <img id="Apple" src="/assets/landing_page/Apple.png" />
  <img id="Google" src="/assets/landing_page/Google.png" />

</div>