<!-- This is the homepage

  <%= link_to "Log in", '/auth/facebook' %>
  <%= link_to "Browse", posts_path %>
 -->
 <div class="container">
  <!-- <div class="left">
    <h1>NewVo</h1>
    <p> Fashion is fun for some, a necessity for others. </p>
  </div> -->
   <div class="right">
<!--     <div class="iphone-container">
      <img class='slide' src="">
    </div> -->
    <div class="info">
      <div class="info-square caption"></div>
    </div>

 </div>
</div>