<!-- This is the homepage

  <%= link_to "Browse", posts_path %>
-->
<div class='container clearfix'>
  <div class="left">
    <div class='mobile'>
      <img class="mobile-title" src="assets/landing_page/NewVoLogo.png" />
    </div>
    <div class="iphone">
      <img class="iphone-image" src="/assets/iphone.png">
    </div>
  </div>

  <div class="right">
    <div class="info">
      <img class="title" src="/assets/landing_page/NewVoLogo.png" />
      <div class="description">
        <p>Whoever you are, fashion convenience</p>
        <p> just got taken to a whole new level.</p>
      </div>
      <div class="text-box top">
        <div class="info-square caption"></div>
      </div>

      <!-- Begin MailChimp Signup Form -->
      <div id="mc_embed_signup">
        <form action="http://herokuapp.us3.list-manage.com/subscribe/post?u=35ba0a0a46949ae2ed6e21aeb&amp;id=748e65448f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div for="mce-EMAIL">
            <br>
            Want to be one of the first to use our app?
            <br>
            Sign up for beta!
            <br>
            <br>
          </div>
          <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;"><input type="text" name="b_35ba0a0a46949ae2ed6e21aeb_748e65448f" value=""></div>
          <input type="submit" value="Sign up" name="subscribe" id="mc-embedded-subscribe" class="subscribe">
        </form>
      </div>
      <!--End mc_embed_signup-->

      <div class='signin'>
        <!--<p>Already have access? <span class='signin-button'>--><% link_to "Sign in", '/auth/facebook' %></span></p>
      </div>
      <div class="hide">
        <img class="app-button" src="/assets/landing_page/app-store.png" />
        <img class="app-button" src="/assets/landing_page/color-google-play.png" />
      </div>
    </div>
  </div>
</div>
