<h2> <%= post.title %> </h2>
<% post.photos.each do |photo| %>
  <%= image_tag photo.photo.url :medium %>
<% end %>

<% if signed_in? && current_user.id == post.user_id %>
  <%= link_to "Delete", post_path(post), method: :delete %>
<% end %>