<div class='nv-block'><% if signed_in? %>
  <div class='nv-left'>Welcome <%= current_user.first_name %>!</div>
  <div class='nv-mid'>NewVo</div>
  <div class='nv-right'><%= link_to "Sign out", signout_path %></div>
</div>

<%=  render 'post_form' %>

<div class='nv-block'>
  <% else %>
  Please sign in to get better results and to be able to post.
<% end %>
</div>

<% if @posts %>
  <% @posts.each do |post| %>
    <% if post.published == true %>
    <%= render partial: 'post', object: post %>

    <% end %>
  <% end %>
<% end %>
