<div class='nv-block'>
  <% if signed_in? %>
  <%= render 'layouts/header' %>
</div>

<%=  render 'post_form' %>

<% if @posts %>
  <% @posts.each do |post| %>
    <% if post.published == true %>
    <%= render partial: 'post', object: post %>
    <% end %>
  <% end %>
<% end %>
