<% if signed_in? %>

<%= render 'layouts/header' %>

<%=  render 'post_form' %>

<div class='nv-block'>
  <% else %>
  Please sign in to get better results and to be able to post.
<% end %>
</div>

<% if @posts %>
  <% @posts.each do |post| %>
    <% if post.published == true %>
    <%= render partial: 'post', object: post %>

    <% end %>
  <% end %>
<% end %>
