div {
  border: 5px solid #000000;
}

body {
  border: 5px solid #000000;
  font-family: 'Courier', sans-serif;
  width: 100%;
  margin: 0;
  /*background: url(/assets/landing_page/bg1.jpg) no-repeat center center fixed;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#title {
    display: block;
    margin: 0 auto;
    border: 5px solid #000000;
}

#description{
  color: black;
  text-align:center;
  border: 5px solid #000000;
}

/*Delete?*/
.left {
  position: absolute;
  height: 500px;
  display: inline-block;
  background-color: white;
  text-align: center;
  border: 5px dashed #000000;
}

.right {
  margin-left: 25em;
  height: 500px;
  display: block;
  clear: both;
  border: 5px dashed #000000;
}

.iphone {
  border: 5px solid #000000;
  background:url('/assets/iphone-white.png') no-repeat;
  height: 371px;
  width: 200px;
  /*display: inline-block;
  position: relative;
  float: left;
  width: 300px;
  height: 550px;
  background-image: url('/assets/iphone-white.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left top;*/
}

.iphone .screen {
  width:155px;
  height:223px;
  background:#39F;
  position:relative;
  top:76px;
  left:22px;
  border: 5px solid #000000;
}

.info {
  display: inline-block;
  border: 5px solid blue;
  height: 300px;
  border-radius: 1em;
  margin: 125px 0;
}

.text-box {
  height: 3em;
  width: 30em;
  padding: 5px;
  border: 5px solid red;
  border-radius: 1em;
  background-color: grey;
}

.info-square {
  background-color: grey;
  color: white;
  border-radius: 1em;
  font-weight: 300;
  text-align: center;
  border: 5px solid green;
}

.app-button {
  height: 70px;
  border: 5px solid #000000;
}

.buttons {
  border: 5px solid #000000;
}

.middle {
  height: 60px;
  text-align: center;
  padding: 40px;
}