body {
  font-family: 'Courier', sans-serif;

  width: 100%;
  margin: 0;
  background-image: url('/assets/landing_page/floor2.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.inner {
  width: auto;
  background-color: #cccc80;
  border-radius: 1em;
  height: 250;
  padding: 30px;
}

.container {
  width: 50%;
  height: 700px;
  margin: 0 auto;
  display: block;
  padding-top: 5em;
  clear: both;
}

.info {
  width: 300px;
  margin-left: 2em;
  display: inline-block;
}

.caption {
  background-color: #cccc99;
  border-radius: 1em;
  font-weight: 300;
}

.caption-box {
  background-color: #cccc99;
  border-radius: 1em;
  padding: 1em;
  font-weight: 300;
  height: 2em;
  margin: 0 0 30px 0;
}



/* unused */

.left {
  position: absolute;
  width: 20em;
  min-height: 800px;
  display: inline-block;
  background-color: white;
  text-align: center;
}

.left h1 {
  font-size: 2.3em;
  margin-top: 5em;
}

.left p {
  margin-top: 1em;
}

.iphone-container {
  display: inline-block;
  position: relative;
  float: left;
  width: 300px;
  height: 550px;
  background-image: url('/assets/iphone-white.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left top;
}

.iphone-container img {
  position: absolute;
  width: 200px;
}